@page "/"

<PageTitle>Home</PageTitle>

<style>
    h1{
        color: #555 !important;
        font-weight: bold !important;
    }
    p{
        color: #555 !important;
    }
    .elements{
        box-shadow: 2px 2px 10px black !important;
        padding: 10px !important;
        margin: 10px !important;
        height: 150px !important;
        border-radius: 20px 10px 20px 10px !important;
        border-left: 8px solid blue !important;
    }
    .element{
        box-shadow: 2px 2px 10px black !important;
        padding: 10px !important;
        margin: 10px !important;
        height: 150px !important;
        border-radius: 20px 10px 20px 10px !important;
        border-left: 6px solid orange !important;
    }
    .center{
        display: flex  !important;
        justify-content: center !important;
        align-items: center !important;
        color: #555 !important;
    }
    h2{
        color: #555 !important;
        font-weight: bolder !important;
        text-align: center !important;
        font-size: 50px;
    }
</style>

<h1>Hello, Layton!</h1>
<p>Welcome to our dashboard</p>

<div class="row">
    <div class="col-lg-3">
        <div class="elements">
             <div class="center">
                <h3>Total Houses</h3>
            </div>
            <h2>20</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="elements">
            <div class="center">
                <h3>One Bedroom </h3>
            </div>
            <h2>10</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="elements">
            <div class="center">
                <h3>Two Bedroom</h3>
            </div>
            <h2>5</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="elements">
            <div class="center">
                <h3>Three Bedroom</h3>
            </div>
            <h2>5</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="element">
           
        </div>
    </div>
     <div class="col-lg-8">
        <div class="element"></div>
    </div>
</div>
